@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(120deg, rgba(109,242,139,1) 0%, rgba(244,252,93,1) 100%);
  color: #fff;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header, form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input, form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: #fff;
}

form button {
  color: #04BA48;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

form button:hover {
  background: #04BA48;
  color: #fff;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 70%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: #fff;
    color: #000;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.trash-btn, .complete-btn {
    background: rgb(255, 74, 19);
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.complete-btn {
    background: #04BA48;
}

.todo-item {
    padding: 0rem 0.5rem;
    font-weight: 500;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
    color: #04BA48;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: #04BA48;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background: #04BA48;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    color: #04BA48;
    background: #fff;
}

.filter-todo {
    pad: 1rem 0;
}